{% extends "base.html" %} 

{% block page_title %}Home{% endblock page_title %}

{% block content %}

{% for room in room_obj %}
<h5>{{room.name}} / {{room.price}}</h5>
{% endfor %}

{% if room_obj.has_previous %}
<a href="?page={{room_obj.previous_page_number}}">Previous</a>
{% endif %}

{{room_obj.number}} of {{room_obj.paginator.num_pages}}

{% if room_obj.has_next %}
<a href="?page={{room_obj.next_page_number}}">Next</a>
{% endif %}
<br />

{% for page_range_number in room_obj.paginator.page_range %}
{{page_range_number}}
{% endfor %}
{% endblock content %}
